@media (max-width:768px){
    table{
        width: 75%;
    }
}
@media (max-width:480px){
    table{
        width: 95%;
    }
}

$width: 900px;

.table-container{
    overflow-x: auto;
  }

.table-rwd{
    min-width: $width;
}
